body {
    background-size: cover;  
}
h2, h3 {
  font-size: 16px;
  letter-spacing: -1px;
  line-height: 20px;
}
h2 {
	color: #111268;
	text-align: center;
}
h3 {
	color: #032942;
	text-align: right;
}
.box {
  width: 500px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
a { 
    text-decoration: none;
 }
.b {
	height: 24px;
	line-height: 24px;
	background-color: transparent;
    border: none;
    cursor: pointer;
}
.b-form {
	opacity: 0.5;
	margin: 10px 20px;
  float: right;
}
.fieldset-body {
    display: table;
}
.fieldset-body p {
    width: 100%;
    display: inline-table;
    padding: 5px 20px;
    margin-bottom:2px;
}
label {
	float: left;
  width: 100%;
	top: 0px;
	color: #032942;
	font-size: 13px;
	font-weight: 700;
	text-align: left;
	line-height: 1.5;
}
.forma {
    width: 350px;
    height: 32px;
    padding: 0px 10px;
    background-color: rgba(21, 21, 21, 0.03);
    border: none;
    display: inline;
    color: #000000;
    font-size: 16px;
    float: left;
}
.forma:focus {
    background-color: #081949;
    outline: none;
    color: white;  
    width: 350px;
}
input[type=submit]  {
  width: 100%;
  height: 48px;
  margin-top: 24px;
  font-family: 'Quicksand', sans-serif;
  font-weight: 700;
   font-size: 18px;
    color: #fff;
    text-align: center;
    background-color: #859aef;
	border: 1px #859aef solid;
}
input[type=submit]:hover {
	background-color: #081949;
}
.aa {
    color: #000000;
    margin-top: 20%;
    text-align: center;
}
.j1 {
    width: 450px;
    float: left;
    margin: 5%;
    height: 100px;
    text-align: center;
    }
  .article {
  margin-bottom: 1em;
  background-color: #ffffff;
  border: 5px solid transparent;
  border-image: linear-gradient(#0B0E7F , #0B95DD);
  border-image-slice: 1;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
